@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

:root {
	--color-font: #ffffff;
	--color-background: #111420;
	--color-foreground: #222633;
	--color-highlight: #363946;

	--font-general: 'TT Norms Pro', sans-serif;
	--heading-font-size-general: 1.8rem;
	--heading-font-weight-general: 500;
}

body {
	font-family: var(--font-general);
	color: var(--color-font);
	background-color: var(--color-background);
	text-transform: uppercase;
	padding: 5rem 0;
}

main {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--color-highlight);
	background-color: var(--color-foreground);
	width: 90%;
	margin: 0.2rem;
}

h1 {
	margin: 0.5rem;
	font-weight: var(--heading-font-weight-general);
	font-size: var(--heading-font-size-general);
}

#uploader {
	flex: 1;
}

#results.show {
	display: block;
}

#results.hide {
	display: none;
}

#drop-zone {
	box-sizing: border-box;
	flex: 1;
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.5rem 0.6rem;
}

#drop-zone.file-over {
	background-color: var(--color-highlight);
	font-weight: var(--heading-font-weight-general);
}

table {
	width: 100%;
	margin-bottom: 0.7rem;
	border-collapse: separate;
	border-spacing: 0.6rem 0.4rem;
	box-sizing: border-box;
}

thead {
	background-color: var(--color-highlight);
	font-weight: var(--heading-font-weight-general);
}

td {
	background-color: var(--color-background);
}

th,
td {
	padding: 0.5rem;
	text-align: start;
}
